<form
  class="col-12 col-md-8 col-lg-6"
  [formGroup]="orderForm"
  (ngSubmit)="submit()"
  novalidate
>
  <div class="form-group mb-2" *ngFor="let field of fields">
    <input
      class="form-control"
      [formControlName]="field"
      [name]="field"
      [type]="field === 'timeToDeliver' ? 'datetime-local' : 'text'"
      [placeholder]="field"
      [ngClass]="{
        'is-invalid':
          orderForm.controls[field].invalid &&
          orderForm.controls[field].touched,
        'is-valid': orderForm.controls[field].valid
      }"
    />
    <div class="invalid-feedback">Please enter a valid {{ field }}</div>
  </div>

  <div class="form-floating mb-2">
    <textarea
      class="form-control"
      [ngClass]="
        orderForm.controls['comment'].valid ? 'is-valid' : 'is-invalid'
      "
      formControlName="comment"
      name="comment"
      placeholder="comment"
      style="height: 100px"
    ></textarea>
    <label for="comment">Enter your comment here</label>
    <div class="invalid-feedback">Max comment length is 250 simbols</div>
  </div>

  <div class="form-group">
    <button class="btn btn-danger mt-3 me-3" [disabled]="orderForm.invalid">
      Оформить заказ
    </button>
  </div>
</form>
