<div class="container-xxl order">
  <div class="row">
    <div class="col-12">
      <h2 class="h2">Оформление заказа</h2>
      <!-- <table class="table">
        <tbody>
          <tr class="align-items-center" *ngFor="let item of order">
            <td>
              <img class="order__img img-thumbnail" [src]="item.imageUrls[0]" />
            </td>
            <td>{{ item.name }}</td>
            <td><input type="number" value="1" /></td>
            <td>{{ item.description.slice(0, 128) }}</td>
            <td class="fw-bold">{{ item.price | currency: 'BYN ' }}</td>
          </tr>
        </tbody>
      </table> -->
      <app-user-order-form></app-user-order-form>
    </div>
  </div>
</div>
