<div class="container-xxl">
  <div class="row">

    <div class="col-md-6 good__gallery">
      <figure class="good__gallery_wrap figure" (click)="showNextImage()">
        <img
          class="figure-img img-fluid rounded"
          *ngIf="activeImageUrl === ''"
          src="../../../../assets/img-not-found.png"
          [alt]="shopItem.name"
        />

        <img
          class="figure-img img-fluid rounded"
          *ngIf="activeImageUrl !== ''"
          [src]="activeImageUrl"
          [alt]="shopItem.name"
        />
      </figure>
      <div class="good__gallery_thumbnails" *ngIf="shopItem.imageUrls">
        <img
          class="rounded img-thumbnail good__gallery_thumbnail"
          *ngFor="let url of shopItem.imageUrls"
          (click)="activateImage(url)"
          [src]="url"
          alt="thumbnail"
        />
      </div>
    </div>

    <div class="col-md-6 mt-4">
      <h2 class="h1 fw-bold">{{ shopItem.name }}</h2>
      <app-good-rating [rating]="shopItem.rating"></app-good-rating>
      <h3 class="h3 fw-bold my-4">{{ shopItem.price | currency: "BYN " }}</h3>
      <h4 class="h4 fw-bold">Description:</h4>
      <p>{{ shopItem.description }}</p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-danger me-3" type="button">add to cart</button>
        <button class="btn btn-danger" type="button">wishlist</button>
      </div>
    </div>
  </div>
</div>
