.footer {
  color: #ffffff;
  background-color: rgb(49, 54, 61);

  &__contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;

    & a {
      padding: 0.5rem;
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & a {
      display: block;
      height: 2rem;
      width: 2rem;
      margin: 1rem;
      color: #ffffff;
    }

    &_vk {
      background: url(../../../../assets/vk.svg) no-repeat center center;
    }

    &_facebook {
      background: url(../../../../assets/facebook.svg) no-repeat center center;
    }

    &_instagram {
      background: url(../../../../assets/instagram.svg) no-repeat center center;
    }

    &_youtube {
      background: url(../../../../assets/youtube.svg) no-repeat center center;
    }

    &_ok {
      background: url(../../../../assets/telegram.svg) no-repeat center center;
    }
  }

  & hr {
    margin: 0;
  }
}
