.header-categories {
  background-color: #ff4c3b;

  &__list {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin: 0;
    list-style-type: none;

    @media (max-width: 992px) {
      width: max-content;
      overflow: overlay;
    }
  }

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.25rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;

    @media (max-width: 992px) {
      min-width: max-content;
      word-wrap: normal;
    }

    &:hover {
      background-color: #db1300;
    }
  }
}
