<div class="container-xxl">
  <div class="row">
    <h1 class="mb-4" *ngIf="activeCategory">{{ activeCategory.name }}</h1>

    <div class="col-md-8">
      <ul
        class="subcategories-list list-group list-group-flush"
        *ngIf="activeCategory"
      >
        <li
          class="list-group-item"
          *ngFor="let subCategory of activeCategory.subCategories"
          (click)="goCategoryPage(activeCategory.id, subCategory.id)"
        >
          {{ subCategory.name }}
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let category of categories"
          (click)="goCategoryPage(category.id)"
          (mouseover)="makeCategoryActive(category)"
          [ngClass]="{ active: category === activeCategory }"
        >
          {{ category.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
